.flex {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    max-width: 900px;
}

.blockContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    column-gap: 50px;
    row-gap: 50px;
    max-width: 100%;
    z-index: 1;

}

.blockContainer:nth-child(2n) {
    flex-direction: row-reverse;
    position: relative;
}




.body {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    gap: 20px;
    position: relative;
    min-width: 320px;
    max-width: 500px;
    box-shadow: 30px 30px 0 0 var(--primaryDark);
}



.shadow {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: inherit;
    opacity: 0;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: 0.5s;
}
.shadow:hover {
    opacity: 1;
}

.title {
    font-size: 20px;
    font-weight: 500;
}

.description {
    min-width: 250px;
    width: 100%;
}

.image {
    width: 100%;
    border-radius: 20px;
}

.button {
    backdrop-filter: none;
    font-size: 20px;
    padding: 10px 25px;
}

@media all and (max-width: 1050px){
    .content {
        padding: 40px 0;
    }
    .flex {
        flex-direction: row;
        overflow: auto;
        padding: 0 40px 40px 40px;
    }
    .blockContainer, .blockContainer:nth-child(2n) {
        flex-direction: column-reverse;
        text-align: center;
        gap: 20px;
    }
    .blockContainer:first-child:after {
        content: none;
    }
    .body{
        max-width: 100%;
    }
}