.formContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    column-gap: 30px;
    row-gap: 30px;
}

.formRow, .formColumn {
    display: flex;
    flex-direction: row;
    gap: 30px;
    column-gap: 30px;
    row-gap: 30px;
    width: 100%;
}

.formColumn {
    flex-direction: column;
}

.input, .textarea {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 10px 20px;
    width: 100%;
    border: 1px solid transparent;
}

.input:hover, .textarea:hover {
    opacity: 0.8;
}

.input:focus, .textarea:focus {
    border: 1px solid rgba(255, 255, 255, 0.1);

}

.textarea {
    height: 150px;
}

.button {
    background-color: var(--primaryLightest);
    color: var(--textOnPrimary);
    padding: 10px 20px;
    font-size: 14px;
    align-self: center;
}