@import "variables.css";

.siteWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: var(--textOnPrimary);
    font-weight: 300;
    max-height: 100vh;
}

.sectionsContainer {
    max-height: 100%;
    overflow: auto;
    width: 100%;
}

.sectionTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 37px;
    font-weight: 600;
    position: relative;
    margin-bottom: 100px;
}

.sectionTitle:after {
    content: '';
    display: block;
    width: 90px;
    height: 3px;
    background-color: var(--primaryLightest);
    position: absolute;
    bottom: -2px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 95vh;
    padding: 60px;
}

section:nth-child(1n) {
    background-color: var(--primaryLight);
}

section:nth-child(2n) {
    background-color: var(--primary);
}

.accentColor {
    color: var(--primaryLightest);
    padding: 0 10px;
}

@media all and (max-width: 760px) {
    .siteWrapper {
        flex-direction: column;
        max-height: initial;
    }

    .sectionsContainer {
        overflow: initial;
    }

    section {
        padding: 40px 20px 20px 20px;
    }
}