@import "variables.css";

.siteWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: var(--textOnPrimary);
    font-weight: 300;
    max-height: 100vh;
}

.sectionsContainer {
    max-height: 100%;
    overflow: auto;
    width: 100%;
    padding: 10px 10px 0 0;
}

.sectionTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 37px;
    font-weight: 600;
    position: relative;
    margin-bottom: 100px;
    position: relative;
}

.sectionTitle:after {
    content: '';
    display: block;
    width: 90px;
    height: 10px;
    background-color: var(--primaryLightest);
    position: absolute;
    bottom: -2px;
    border-radius: 10px;
    opacity: 0.5;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 95vh;
    padding: 60px;
    overflow: hidden;
    position: relative;
}

section:nth-child(1n) {
    background-color: var(--primaryLight);
}

section:nth-child(2n) {
    background-color: var(--primary);
}

.sectionTitle .decoration {
    position: absolute;
    opacity: 0.05;
    transform: scale(4);
    pointer-events: none;
}

.accentColor {
    color: var(--primaryLightest);
    padding: 0 10px;
}

.footer {
    padding: 10px 40px;
    text-align: end;
    color: rgba(255, 255, 255, 0.3);
}

@media all and (max-width: 1150px) {
    .sectionTitle .decoration {
        transform: scale(3);
    }
    section {
        min-height: auto;
    }
}

@media all and (max-width: 950px) {
    .sectionTitle .decoration {
        display: none;
    }
}

@media all and (max-width: 760px) {
    .siteWrapper {
        flex-direction: column;
        max-height: initial;
    }
    .sectionsContainer {
        overflow: initial;
        padding-left: 10px;
    }
    section {
        padding: 40px 20px 100px 20px;
    }
    .sectionTitle {
        margin: 0 0 40px 0;
        font-size: 30px;
    }
    .footer {
        padding: 15px 20px;
    }
}

@media all and (max-width: 460px) {
    .sectionsContainer {
        padding: 0;
    }
}