:root {
    --textOnPrimary: #fff;
    --primaryDarkest: #1b2131;
    --primaryDarker: #1f2841;
    --primaryDark: #273352;
    --primary:  rgb(37, 47, 72);
    --primaryLight: #27334d;
    --primaryLightest: #5c86bd;
}