:root {
    --textOnPrimary: #fff;
    --primaryDarkest: #141a26;
    --primaryDarker: #1f2841;
    --primaryDark: #1c243d;
    --primary:  rgb(37, 47, 72);
    --primaryLight: #27334d;
    --primaryLightest: #5c86bd;
}