@import "src/styles/mixins"

.grid
    @include gap(20px)
    @include flex(row)
    justify-content: center
    flex-wrap: wrap
    width: 100%
    max-width: 900px
    @media all and (max-width: 1100px)
        gap: 10px

.block
    @include flex(column, center)
    @include gap(20px)
    text-align: center
    width: 150px
    border-radius: 20px
    padding: 30px
    position: relative
    cursor: pointer
    @media all and (max-width: 1100px)
        text-align: center
        flex-direction: column
    @media all and (max-width: 760px)
        width: 80px
        padding: 10px
        svg
            width: 40px
            height: 40px
    &__description
        @include flex(column, center)
        justify-content: center
        padding: 20px
        font-size: 12px
        top: -35px
        position: absolute
        overflow: hidden
        width: 200px
        height: 200px
        z-index: -1
        background-color: var(--primaryDarker)
        transform: scale(0.5)
        border-radius: 50%
        transition: 0.3s
        @media all and (max-width: 760px)
            width: 130px
            height: 130px
            font-size: 8px

.header
    @include flex(column, center)
    @include gap(20px)
    border-radius: 20px

.title
    @include blur(5px)
    font-size: 18px
    margin: 0
    transition: 0.5s
    @include blur(10px, 20px)
    @media all and (max-width: 760px)
        font-size: 14px

.icon
    width: 70px

.text
    @include blur(5px)
    text-align: center
    max-width: 500px
    color: rgba(255, 255, 255, 0.4)
    margin-top: 60px
    span
        font-weight: bold
        color: var(--primaryLightest)
