@import "src/styles/mixins"

.grid
    @include gap(20px)
    @include flex(row)
    justify-content: center
    flex-wrap: wrap
    width: 100%
    max-width: 900px
    @media all and (max-width: 1100px)
        gap: 10px

.block
    @include flex(column, center)
    @include gap(20px)
    text-align: center
    width: 150px
    border-radius: 20px
    padding: 30px
    position: relative
    cursor: pointer
    &__description
        @include flex(column, center)
        justify-content: center
        padding: 20px
        font-size: 14px
        top: -35px
        position: absolute
        overflow: hidden
        width: 200px
        border-radius: 50%
        height: 200px
        z-index: -1
        background-color: var(--primaryDarker)
        transform: scale(0.5)
        opacity: 0.4
        transition: 0.3s
    @media all and (max-width: 1100px)
        text-align: center
        flex-direction: column

.header
    @include flex(column, center)
    @include gap(20px)
    border-radius: 20px

.title
    font-size: 18px
    margin: 0
    opacity: 0.9

.icon
    width: 70px

.text
    text-align: center
    padding: 40px 0 0 0
    max-width: 500px
    color: rgba(255, 255, 255, 0.4)
    margin-top: auto
    span
        font-weight: bold
        color: var(--primaryLightest)
