.grid {
    display: grid;
    width: 100%;
    max-width: 900px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 40px;
    column-gap: 40px;
    row-gap: 40px;
}

.gridBlock {
    display: flex;
    border-radius: 20px;
    align-items: center;
    padding: 30px;
    gap: 20px;
    box-shadow: inset 0 0 50px 1px var(--primaryDarker);
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
}

.body {
}

.title {
    font-size: 20px;
    margin: 0;
}

.icon {
    width: 70px;
}

.description {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 20px;
    height: 100%;
    margin: 0;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-align: center;
    opacity: 0.4;
    padding: 40px 0 0 0;
    max-width: 500px;
}